# Python
__pycache__/
*.pyc

# Virtual env
env/
venv/
eval_env/

# Data
data/
*.faiss
*.pkl

# Logs
logs/
*.log

# Models
models/
*.bin
*.pt
*.gguf

# Evaluation outputs
evaluation/results.csv

# OS files
.DS_Store
Thumbs.db
*.Zone.Identifier

# Notebooks
.ipynb_checkpoints/

# Environment variables
.env